.todos-filter {
  background-color: inherit;
  border: none;
  font-size: 12px;
  color: #666666;
}

.todos-filter:hover {
  background-color: #fafafa;
}

.todos-filters .__active {
  border: 1px solid #ebdfdf;
  border-radius: 3px;
  padding: 2px;
}
