@import "../../config/globals";
.todos-filter {
  background-color: $c-todos-main-bg;
  border: none;
  font-size: $fs_x-small;
  color: $c-gray;
}

.todos-filters .__active {
  border: 1px solid $c-common-border;
  border-radius: 3px;
  padding: 2px;
}
