.todos-main {
  display: inline-block;
  width: 60%;
  box-shadow: 4px 0px 4px -4px #c4c4c4, -4px 0px 4px -4px #c4c4c4;
}

.todos-step1, .todos-step2 {
  content: '';
  display: block;
  height: 2px;
  background: white;
  box-shadow: 0 2px 2px #c4c4c4;
}

.todos-step1 {
  margin: 0 1%;
  width: 98%;
}
.todos-step2 {
  margin: 0 2%;
  width: 96%;
}
